// colors.scss
$yellow: rgb(218, 170, 14);
$green-light: rgb(127, 236, 55);
$white: rgb(255, 255, 255);
$gray-light: rgb(212, 213, 216);
$green-highlight: rgb(170, 240, 113);
$blue: rgb(58, 107, 212);
$dark-gray: rgb(49, 49, 48);
$white: rgb(255, 255, 255); // Ensure this is defined
